.Dialog_Form {
  background:        #F5F5DC;
}

.DialogBox {
  font-size:         12px;
  background:        #F5F5DC;
}

.TranslatorInputField {
  width:    		   535px !important;
  height:   		   36px;  
  background-color:    white;
}

#translator_lang_select_id, #translator_word_count_select_id {
  width:    		   150px;
  height:   		   18px;  
  background-color:    white;
}

#translator_translated_label_id {
  width:               70px !important; /* 90px */	
  text-align:    	   center;
}

.ErrorMessage {
  color:               red;	
}

.TranslatorLabelColumn {
	text-align:    	   center;
	font-size:         14px;
	padding-left:      0px;
	width:             62px !important; /* 90px */
	min-width:         62px !important;
	max-width:         62px !important;
	height:            25px;
}

.TranslatorButton {
	font-size:          18px !important;
	width: 				120px;
	height: 			30px;
	color:              white;
	background-color: 	#2196D3; /* Blue */
}

.TranslatorTable {
	border:             none; */
	/* border:          1px solid black; */ 
	margin:             0px;
	padding:            0px;
}

.TranslatorDialog_FieldColumn {
	font-size:         14px;
	padding-left:      10px;
	width:             100%;
	min-width:         100%;
}

.TranslatorTranslateButton {
	border:             none;
	background-color:   #F5F5DC;
}

.TranslatorCopyButton {
	display:           flex;
	align-items: 	   center;
	padding:           8px;
	width:             22px;
	height:            22px;
	margin-left:       4px;
	padding-left:      2px;
	margin-top:        1px;
}

.Translator_DataFieldWithButton_Container {
	display:           flex;
	align-items: 	   center;
}