html, body , .outer, .inner {
	height:  100%;
	width:   100%;
	margin:  0;
	font-family: Arial, Helvetica, sans-serif;
} 

hr {
   border:            none;
   height:            0.5px;
   background-color:  #333;  /* Modern Browsers */
}

.HorizontalBar {
	border:           none;
	height:           1px;
}

.CalculatorLayout {
	background-color: #FFFFF0; /*#fafaf0;*/
	width:            100%; 
	height:           100%;
	min-height:       100%;
}

.Button {
	font-size:     25x;
	font-weight:   500;
	height:        30px;
}

#update_btn_id {
	background-color: lightgreen;
	width: 	    85px;
	min-width: 	85px;
}

#random_btn_id {
	background-color: 	#F4F400; /*#FFFDD0;*/
	width: 	    85px;
	min-width: 	85px;
}

#clear_btn_id {
	width: 	    85px;
	min-width: 	85px;
}

#word_count_id {
	display:          inline-block;
	/*background-color: lightgreen;*/
	/*top: 0px;*/
}

.ButtonsBar {
	margin-top: 0px;
	height:     70px;
    top:        10px;
}

.Button {
	margin-bottom: 20px;
}

.table textarea {
	max-width:  100%;
	width:      100%;
	height:     100px
}

.EllipsisButton {
	width:         27px;
	min-width:     27px;
}

.LabelColumn {
	/*margin-left:   20px;*/
	padding-left:  10px;
	width:         100px;
	min-width:     100px;
	max-width:     100px;
	height:        25px;
}

.TextArea {
	width:         100%;
	min-width:     100%;
	max-width:     100%;
	height:        25px;
}

.FieldColumn {
	/*margin-left:   20px;*/
	padding-left:  5px;
	width:         100%;
	min-width:     100%;
	height:        25px;
}

.Selector {
	margin-left:   10px;
}

.Filler {
	width:         100%;
	height:        100%;
	min-height:    10%;
}

.ReadOnlyValue {
	font-family: Arial, Helvetica, sans-serif;
	font-size:   15px;
}

.DataField {
	font-family: Arial, Helvetica, sans-serif;
	width:       85%;
}

.SaltField {
	font-family: Arial, Helvetica, sans-serif;
	width:       81%;
}

.RawDataField {
	font-family: Arial, Helvetica, sans-serif;
	width:       98%;
}

.WithFocus {
	background-color: #ECFFDC; /* very light green */
}

.WithoutFocus {
	background-color: white;
}

.ValidValue {
	color: black;
}

.InvalidValue {
	color: red;
}