html, .outer, .inner {
	height:      100%;
	width:       100%;
	margin:      0;
	font-family: Arial, Helvetica, sans-serif;
} 

html, body , .outer, .inner {
	height:      100%;
	width:       100%;
	margin:      0;
	font-family: Arial, Helvetica, sans-serif;
	overflow:    hidden;
} 

hr {
    border:            none;
    height:            0.5px;
    background-color:  #333;  /* Modern Browsers */
}

.HorizontalBar {
	border:           none;
	height:           1px;
}

/* ================================= Tab pages ================================= */
/* https://www.w3schools.com/howto/howto_js_full_page_tabs.asp */
.PrivateKeyTabLayout {
	background-color: #FFFFF0;
	width:            100%; 
	height:           100%;
	min-height:       100%;
}

.WalletTabLayout {
	background-color: #F1FFFF;
	width:            100%; 
	height:           100%;
	min-height:       100%;
}

.tablink {
	background-color: #FFFFF0;
	color:            black;
	/*float:     	  left;*/
	border:           none;
	outline:          none;
	cursor:           pointer;
	font-size:        17px;
	width:            25%;
	margin-left:      -2px;
	margin-right:     -3px;
}

#PrivateKey { 
	background-color: #FFFFF0;   
}

#Wallet     { 
	background-color: #F1FFFF; 
}

.EmptyTabLink { 
	background-color: #FDFDFD; 
	width:            50%;
	min-width:        50%;
	margin-right:     0px;
}

#pk_tab_link_id {
	background-color: #FFFFF0;
}
#pk_tab_link_id:hover {
	background-color: #C0FEC0;
}

#wallet_tab_link_id {
	background-color: #F1FFFF;
}
#wallet_tab_link_id:hover {
	background-color: #C0FEC0;
}

.ThreeBordersTabLink {
	border-top:       1px solid black;
	border-bottom:    1px solid #FFFFF0;
    border-right:     1px solid black; 
    border-left:      1px solid black;
}

.FourBordersTabLink {
	border-top:       1px solid black;
	border-bottom:    1px solid black;
    border-right:     1px solid black; 
    border-left:      1px solid black;
}

.EmptyTabLinkBorders {
	border-bottom:    1px solid black;
    border-left:      1px solid black;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
	color:   black;
	display: none;
	/*padding: 2px 20px;*/
	height:  100%;
}
/* ================================= Tab pages */

.Button {
	font-size:     25x;
	font-weight:   500;
	height:        30px;
	margin-bottom: 50px;
}

.WalletButton {
	height:     20px;
	margin-top: -10px;
}

#update_btn_id {
	background-color: lightgreen;
	width: 	          85px;
	min-width: 	      85px;
}

#random_btn_id {
	background-color: #F4F400; /*#FFFDD0;*/
	width: 	          85px;
	min-width: 	      85px;
}

#clear_btn_id {
	width: 	    85px;
	min-width: 	85px;
}

#word_count_id {
	display:          inline-block;
	/*background-color: lightgreen;*/
	/*top: 0px;*/
}

#seed_id {
	height = 'auto';
	/* for support of ascii-art fortune cookies
	font-family: monospace;
	*/
}

#salt_id {
	background-color: #FFFFF0;
}

#wallet_coin_id {
	font-size:  14px;
}

.ButtonsBar {
	margin-top: 0px;
	height:     70px;
    top:        10px;
}

.table textarea {
	max-width:  100%;
	width:      100%;
	height:     100px
}

.EllipsisButton {
	width:         27px;
	min-width:     27px;
}

.LabelColumn {
	/*margin-left:   20px;*/
	padding-left:  10px;
	width:         100px;
	min-width:     100px;
	max-width:     100px;
	height:        25px;
}

.TextArea {
	width:         100%;
	min-width:     100%;
	max-width:     100%;
	height:        25px;
}

.FieldColumn {
	/*margin-left:   20px;*/
	padding-left:  5px;
	width:         100%;
	min-width:     100%;
	height:        25px;
}

.Selector {
	margin-left:   10px;
}

.Filler {
	width:         100%;
	height:        100%;
	min-height:    10%;
}

.ReadOnlyValue {
	font-family: Arial, Helvetica, sans-serif;
	font-size:   15px;
}

.DataField {
	font-family: Arial, Helvetica, sans-serif;
	width:       85%;
}

.SaltField {
	font-family: Arial, Helvetica, sans-serif;
	width:       81%;
}

.RawDataField {
	font-family: Arial, Helvetica, sans-serif;
	width:       98%;
}

.WithFocus {
	background-color: #ECFFDC; /* very light green */
}

.WithoutFocus {
	background-color: white;
}

.ValidValue {
	color: black;
}

.InvalidValue {
	color: red;
}